@import "~susy/sass/susy";

$susy: (
  columns: 12,
  gutters: 1/4,
  container: 71.25rem,
  global-box-sizing: border-box,
);

// 变量定义
$input-height: 38px;
$avatar-size: 54px;
$blue: #33C3F0;
$grey: #808080;

// mixin
@mixin input-control {
  height: $input-height;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

@mixin avatar-control {
  max-width: $avatar-size;
  float: left;
  padding-right: 1rem;
}

.github-comment-wrapper {
  @include container();
}

.github-comment-input {

}

.github-comment-output {

}

.comment_avatar {
  @include avatar-control;
}
.current_avatar {
  @include avatar-control;
}

.login_input {
  @include full;
  padding-bottom: 1rem;
}

.detect_input {
  @include full;
}

.ready_input {
  @include full;
}

.detect_input_control {
  @include input-control;
  width: 60%;
}

.ready_input_control {
  @include input-control;
  width: 80%;
}

.github_comment_item {
  @include full;
  margin-top: 1rem;
}

.login_via_github {
  display: inline-block;
  height: $input_height;
  padding: 0 30px;
  color: #FFF;
  background-color: $blue;
  text-align: center;
  line-height: $input_height;
  border-radius: 15px;
  text-decoration: none;
}

.avatar {
  @include avatar-control;
}

.comment_content {
  p {
    margin-bottom: 0;
    line-height: $input-height;
  }
}

.submit_comment {
  box-shadow: none;
  transition-property: all;
  transition-duration: .3s;
  color: $blue;
  border: 2px solid $blue;
  background: 0 0;
  text-shadow: none;
  height: $input-height;
  padding: 0 15px;
  cursor: pointer;
  &:disabled {
    color: $grey;
    border: 2px solid $grey;
  }
}
