// 栅格系统
@import "~susy/sass/susy";

$susy: (
  columns: 12,
  gutters: 1/4,
  container: 71.25rem,
  global-box-sizing: border-box,
);

$input_height: 38px;
$blue: #33C3F0;

// ------------------------- lib over -----------------------------------

:global(.container) {
  // background-color: grey;
}

// -------------------------- global -------------------------------------

// 评论表单的 container
.github_comment_form_wrapper {
  @include container();
  height: $input_height;
  margin-top: 1rem;
}

.login_via_github {
  display: inline-block;
  height: $input_height;
  padding: 0 30px;
  color: #FFF;
  background-color: $blue;
  text-align: center;
  margin-left: 1rem;
  line-height: $input_height;
  border-radius: 4px;
  border: 1px solid $blue;
  cursor: pointer;
}

// 单个评论的 wrapper
.github_comment_item {
  @include container;
  margin-top: 1rem;
}

// 头像
.github_comment_avatar {
  @include span(2 of 12);
  min-width: 50px;
  text-align: right;
  img {
    max-width: $input_height;
    border-radius: 50px; // 圆角
  }
}

.detect_input {
  width: 80%;
  height: $input_height;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  &:focus {
    outline-color: transparent;
    outline-style: none;
    outline: none;
  }
}

// 评论输入框
.github_comment_input {
  @include span(10 of 12 last);
  input {
    width: 60%;
    height: $input_height;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    &:focus {
      outline-color: transparent;
      outline-style: none;
      outline: none;
    }
  }
  button {
    max-width: 20%;
    display: inline-block;
    height: $input_height;
    padding: 0 1rem;
    color: #FFF;
    background-color: $blue;
    text-align: center;
    margin-left: 1rem;
    line-height: $input_height;
    border-radius: 4px;
    border: 1px solid $blue;
    cursor: pointer;
    &:disabled {
      background-color: grey;
      border: 1px solid grey;
    }
  }
}

// 已有评论内容
.github_comment_content {
  @include span(10 of 12 last);
  p {
    margin: 0;
    line-height: $input_height;
    font-size: 1.5em;
    font-weight: 400;
  }
}

// 登录 github 的按钮
.github_login_button {
  display: inline-block;
  height: $input_height;
  padding: 0 50px;
  color: #FFF;
  background-color: $blue;
  text-align: center;
  margin-left: 1rem;
  line-height: $input_height;
  border-radius: 4px;
  border: 1px solid $blue;
  cursor: pointer;
}

.detect_lgoin_input {
  width: 80%;
  height: $input_height;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  &:focus {
    outline-color: transparent;
    outline-style: none;
    outline: none;
  }
}
