---
title: github-comment 的博客
---

<p> Where there is a post, there are many comments </p>

<ul>
  <% blog.articles.each do |article| %>
    <li>
      <%= link_to article.title, article.url %>
    </li>
  <% end %>
</ul>
