.github_comment_list {
  text-align: left;
  margin-top: 20px;
  padding-left: 0px;
}

.github_comment_item {
  clear: both;
  border: 0;
  margin: 1px 0 0;
  padding: 6px;
  list-style: none;
}

.github_comment_item_avatar {
  float: left;
  width: 32px;
  height: 32px;
  display: block;
  border: none;
  vertical-align: top;
}

.github_comment_item_content {
  padding-left: 42px;
}

.login_github_button, .comment_button {
  border-radius: 5px;
  padding: 4px 14px;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #00A6FF;
  border: 1px solid #fff;
}
