<!DOCTYPE HTML>
<html lang="zh-cms-Hans">
  <head>
    <meta charset="UTF-8">
    <title>github-comment</title>
  </head>

  <body>
    <h1>登录成功</h1>
  </body>

  <script type="text/javascript">
    // window.close();
    // alert('<%= return_url %>');
    window.location.href='<%= return_url %>';
  </script>

</html>
