{% extends base %}

{% block content %}
<div class="posts">
  <ul class="posts__list">
    {% for post in collections.posts %}
      <li class="post">
        <a href="/blog/{{ post.title | downcase | split: ' ' | join: '-'}}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
