{% extends base %}

{% block content %}
<div class="medium-12 columns">
  <ul>
    {% for post in collections.posts %}
      <li class="post">
        <a href="/{{post.path}}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
