{% extends base %}

{% block content %}
  <div class="medium-12 columns" style="text-align: center">
    <h2> Github Comment </h2>
    <p>社会化评论系统</p>
  </div>
  <img class="medium-6 columns" src="/assets/demo-site.png" />
  <div class="medium-6 columns">
    {{ contents }}
  </div>
{% endblock %}
