<!DOCTYPE html>
<html>
  <head>
    <title>Github Comment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.css">
    <link rel="stylesheet" href="/css/style.css"> <!-- custom css -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/simonwhitaker/github-fork-ribbon-css/gh-pages/gh-fork-ribbon.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/sindresorhus/github-markdown-css/gh-pages/github-markdown.css" />
  </head>
  <body>

    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
        <a href="https://github.com/teddy-ma/github-comment">Fork me on GitHub</a>
      </div>
    </div> <!-- fork me on github -->

    <div class="row">
      <div class="top-bar-left">
        <ul class="menu" >
          <li role="menuitem" tabindex="0">
            <a href="/">Home</a>
          </li>
          <li role="menuitem" tabindex="0">
            <a href="/doc/getting-started">Document</a>
          </li>
          <li role="menuitem" tabindex="0">
            <a href="/blog">Blog</a>
          </li>
        </ul>
      </div>
    </div> <!-- 导航 -->

    <div class="container">

      <div class="row">
        <div class="content">
          {% block content %}

          {% endblock %}
        </div>
      </div>

    </div> <!-- main body -->

    <div class="row">
      <div class="medium-6 columns">
        <ul class="menu">
          <li style="float: left" class="menu-text">build on {{ date  | date: "%a, %b %d, %y" }}</li>
        </ul>
      </div>
      <div class="medium-6 columns">
        <ul class="menu align-right">
          <li class="menu-text">Copyright © 2016 Ma Lucheng</li>
        </ul>
      </div>
    </div><!-- footer -->

  </body>
</html>
