<!DOCTYPE html>
<html>
  <head>
    <title>Github Comment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="header">
      <div class="navbar">
        <a class="navbar-brand" href="/">Github Comment</a>
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/doc/getting-started">Document</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            {% block content %}

            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
