<section class="header">
  <h1 class="title">GitHub Comment</h1>
  <h2 class="title">一个社会化的 GitHub 评论系统.</h2>

  <%= link_to 'Getting Started', 'doc/getting-started.html', class: "button button-primary" %>
  <%= link_to 'Themes', 'themes', class: "button button-primary" %>
  <%= link_to 'Blog', 'blog', class: "button button-primary" %>
</section>

<div class="docs-section examples">
  <div class="row example">
    <%= image_tag "demo-site.png", class: "eight columns" %>
    <div class="four columns">
      <h6 class="example-header">示例评论页面</h6>
      <p class="example-description">
        只需引入一行 js 文件, 立刻拥有你的 github 专属评论区.
        利用全球最大的同性交友网站畅所欲言.
      </p>
      <a class="button" href="http://songofcode.com/reading/" target="_blank">Demo</a>
      <a class="button" href="https://github.com/teddy-ma/teddy-ma.github.io/blob/master/reading/index.html" target="_blank">Source</a>
    </div>
  </div>
</div>
