
<div id="github-comments">
  <div id="github-comments-container">
    <div class="comments-row">
      <div class="comments-row-one"><img class="avatar" src="https://avatars.githubusercontent.com/u/788486?v=3"></div>
      <div class="comments-row-one-eleven">
        <p class="comment-text">awesome!</p>
        <div class="bottom-comment">
          <div class="comment-date"></div>
        </div>
      </div>
    </div>
    <div class="comments-row-one">
      <div class="comments-row-one"><img class="avatar" src="https://avatars.githubusercontent.com/u/10882131?v=3"></div>
      <div class="comments-row-one-eleven">
        <p class="comment-text">赞、怒赞、狂赞、力赞、超赞、跳楼赞、不得不赞、一赞到底！！！</p>
        <div class="bottom-comment">
          <div class="comment-date"></div>
        </div>
      </div>
    </div>
    <div class="comments-row-one">
      <div class="comments-row-one"><img class="avatar" src="https://avatars.githubusercontent.com/u/548532?v=3"></div>
      <div class="comments-row-one-eleven">
        <p class="comment-text">GJ</p>
        <div class="bottom-comment">
          <div class="comment-date"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="github-comment-form">
    <div class="comments-row-one">
      <div class="comments-row-one"><img class="avatar" src="http://github-comment.songofcode.com/images/boohee.png" title=""></div>
      <div class="comments-row-one-eleven status_div" id="status_default"><input class="u-full-width" id="github-comment-default-input" name="body" placeholder="TODO: " type="text"></div>
    </div>
  </div>
</div>
